{% include 'info-head.html' %}
    <div id="init">
        <span class="title">Init 命令 </span>
        <p>此命令将建立一个全新的项目，并做一些初始化的工作</p>

        <span class="subtitle"> 请确定需要爬取站点的个数:</span>
            <form id="theform">
                <input type="text" id="homeurls"/>
                <button type='button' id='ok'>OK</button>
            </form>
    </div>
</body>

{% include 'info-script.html' %}
<script type="text/javascript">
$(function() {
	$("button").button();
    $("#ok").click(function(){
        alert('ok')
        window.location.href="/reptile/init-form/?homeurls="+$("#homeurls").val();

        });
    });
</script>
{% include 'info-footer.html' %}
