<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="/media/style/frame-common.css"/>
    <title>init information</title>
</head>

<body>
    <div id="init">
        <span class="title">Commands 命令 </span>
        <p> 从左侧选取相应的命令选项，然后点选确定按钮。 </p>
        <ul>
            <li>Init--完全重新建立爬取项目</li>
            <li>Resume--从之前保存的爬取项目断点继续运行</li>
            <li>Start--开始运行</li>
            <li>Stop--停止爬虫系统</li>
            <li>Halt--暂停爬虫工作，并保存断点</li>
        </ul>
    </div>
</body>

