{% include 'reptile/info-head.html' %}
<style>
    .key{
        color:red;
        font-weight:bold;
    }
</style>
    <div id="init">
        <span class="title">Resume OK </span>
        <p>从外存读入链接任务<span class='key'>2301</span>条。
        <br/>
        <br/>
        <br/>
        <span class='subtitle'>各站点恢复任务:</span>
        <table>
            <tr><td>site0</td> <td>403</td>
            <tr><td>site1</td> <td>12</td>
            <tr><td>site2</td> <td>368</td>
            <tr><td>site3</td> <td>3</td>
            <tr><td>site4</td> <td>802</td>
            <tr><td>site5</td> <td>23</td>
            <tr><td>site6</td> <td>1</td>
            <tr><td>site7</td> <td>157</td>
            <tr><td>site8</td> <td>2</td>
            <tr><td>site9</td> <td>902</td>
            <tr><td>site10</td> <td>403</td>
        </table>
    </div>

{% include 'reptile/info-script.html' %}
<script type="text/javascript">
$(function() {

});
</script>
{% include 'reptile/info-footer.html' %}


