#content{
    width:600px;
    font-size:18px;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    }
.clear{
    clear:both;
    width:100%;
    height:0;
    }
#content table{
    text-align:left;
    width:100%;
    border:2px solid #ccc;
    margin-top:10px;
    margin-bottom:10px;
}
#content .title{
    width:200px;
}
#navs a{
    display:block;
    width:40%;
    float:left;
    height:5em;
    margin-top:20px;
}

